### Creating the files district.csv, hospital_directory.csv as per database schema requirements

Import hospital-directory.csv, district.csv, india-district-census-2011.csv <br>
Census data from https://censusindia.gov.in/census.website/data/population-finder

In [33]:
import pandas as pd

hd = pd.read_csv('hospital_directory.csv')
dis = pd.read_csv('district.csv')
cen = pd.read_excel('2011-IndiaStateDist-0000.xlsx')

Separate Location_Coordinates into latitude and longitude separate columns

In [29]:
hd[['latitude', 'longitude']] = hd['Location_Coordinates'].str.split(', ', n=1, expand=True)
hd['latitude'] = hd['latitude'].astype('float')
hd['longitude'] = hd['longitude'].astype('float')
hd.drop('Location_Coordinates', inplace=True, axis=1)
hd[['latitude', 'longitude']]
hd.to_csv('hospital_directory.csv', index=False)

In [31]:
# [several minor changes done in excel]. reading hospital_directory.csv again
hd = pd.read_csv('hospital_directory.csv')
hd

,hospital_id,hospital_name,Address_First_Line,District,State,Pincode,latitude,longitude,mco_contact_number
0,1,Chakraborty Multi Speciality Hospital,Near Dollygunj Junction,South Andaman,Andaman and Nicobar Islands,744101,11.635799,92.712058,03192 251971
1,2,Inhs Dhanvantri,Medical Board Office,South Andaman,Andaman and Nicobar Islands,744101,11.831168,92.658640,0
2,3,Maricar Hospital,Near Masjid,South Andaman,Andaman and Nicobar Islands,744103,11.831168,92.658640,03192 233434
3,4,Pillar Health Centre,"Lamba Line, P.B. No. 526",South Andaman,Andaman and Nicobar Islands,744103,11.649847,92.729462,03192 233193
4,5,"G B Pant Hospital, Port Blair","GB Pant Road, City Centre, Port Blair",South Andaman,Andaman and Nicobar Islands,744103,11.623377,92.726483,"03192 233665, 03192 246058, 03192 233455, 0319..."
...,...,...,...,...,...,...,...,...,...
30601,32377,"RG Stone Urology and Laparoscopy Hospital, Sou...","F-12, East of Kailash",New Delhi,Delhi,110065,28.554210,77.244262,011 40721000
30602,32378,"RG Stone Urology and Laparoscopy Hospital, Pit...","194-195, Deepali Chowk, Pitampura",North West Delhi,Delhi,110085,28.704347,77.115601,"011 47571000, 011 475712701,011 4757 1528,011 ..."
30603,32379,"RG Stone Urology and Laparoscopy Hospital, Raj...","B-1, Vishal Enclave, Opp. Police Station, Rajo...",New Delhi,Delhi,110027,28.656215,77.119052,011 43298000
30604,32380,"RG Stone Urology and Laparoscopy Hospital, Gag...","18, Gagan Vihar Main",New Delhi,Delhi,110092,28.646127,77.296637,011 71011000
30605,32381,Indian Institute Of Yoga and Naturopathy,"Des Raj Campus, C-Block, East of Kailash",New Delhi,Delhi,110065,28.558767,77.250899,"011 26913567, 011 26919793"

In [34]:
hd['address'] = hd['Address_First_Line'] + ', ' + hd['District'] + ', ' + hd['State'] + ', '+ hd['Pincode']
hd.drop(['Address_First_Line', 'State'], axis=1, inplace=True)
hd

,hospital_id,hospital_name,District,Pincode,latitude,longitude,mco_contact_number,address
0,1,Chakraborty Multi Speciality Hospital,South Andaman,744101,11.635799,92.712058,03192 251971,"Near Dollygunj Junction, South Andaman, Andama..."
1,2,Inhs Dhanvantri,South Andaman,744101,11.831168,92.658640,0,"Medical Board Office, South Andaman, Andaman a..."
2,3,Maricar Hospital,South Andaman,744103,11.831168,92.658640,03192 233434,"Near Masjid, South Andaman, Andaman and Nicoba..."
3,4,Pillar Health Centre,South Andaman,744103,11.649847,92.729462,03192 233193,"Lamba Line, P.B. No. 526, South Andaman, Andam..."
4,5,"G B Pant Hospital, Port Blair",South Andaman,744103,11.623377,92.726483,"03192 233665, 03192 246058, 03192 233455, 0319...","GB Pant Road, City Centre, Port Blair, South A..."
...,...,...,...,...,...,...,...,...
30601,32377,"RG Stone Urology and Laparoscopy Hospital, Sou...",New Delhi,110065,28.554210,77.244262,011 40721000,"F-12, East of Kailash, New Delhi, Delhi, 110065"
30602,32378,"RG Stone Urology and Laparoscopy Hospital, Pit...",North West Delhi,110085,28.704347,77.115601,"011 47571000, 011 475712701,011 4757 1528,011 ...","194-195, Deepali Chowk, Pitampura, North West ..."
30603,32379,"RG Stone Urology and Laparoscopy Hospital, Raj...",New Delhi,110027,28.656215,77.119052,011 43298000,"B-1, Vishal Enclave, Opp. Police Station, Rajo..."
30604,32380,"RG Stone Urology and Laparoscopy Hospital, Gag...",New Delhi,110092,28.646127,77.296637,011 71011000,"18, Gagan Vihar Main, New Delhi, Delhi, 110092"
30605,32381,Indian Institute Of Yoga and Naturopathy,New Delhi,110065,28.558767,77.250899,"011 26913567, 011 26919793","Des Raj Campus, C-Block, East of Kailash, New ..."

In [35]:
hd.rename(columns={'District': 'district', 'Pincode': 'pincode'}, inplace=True)
addr = hd.pop('address')
hd.insert(2, 'address', addr)
hd

,hospital_id,hospital_name,address,district,pincode,latitude,longitude,mco_contact_number
0,1,Chakraborty Multi Speciality Hospital,"Near Dollygunj Junction, South Andaman, Andama...",South Andaman,744101,11.635799,92.712058,03192 251971
1,2,Inhs Dhanvantri,"Medical Board Office, South Andaman, Andaman a...",South Andaman,744101,11.831168,92.658640,0
2,3,Maricar Hospital,"Near Masjid, South Andaman, Andaman and Nicoba...",South Andaman,744103,11.831168,92.658640,03192 233434
3,4,Pillar Health Centre,"Lamba Line, P.B. No. 526, South Andaman, Andam...",South Andaman,744103,11.649847,92.729462,03192 233193
4,5,"G B Pant Hospital, Port Blair","GB Pant Road, City Centre, Port Blair, South A...",South Andaman,744103,11.623377,92.726483,"03192 233665, 03192 246058, 03192 233455, 0319..."
...,...,...,...,...,...,...,...,...
30601,32377,"RG Stone Urology and Laparoscopy Hospital, Sou...","F-12, East of Kailash, New Delhi, Delhi, 110065",New Delhi,110065,28.554210,77.244262,011 40721000
30602,32378,"RG Stone Urology and Laparoscopy Hospital, Pit...","194-195, Deepali Chowk, Pitampura, North West ...",North West Delhi,110085,28.704347,77.115601,"011 47571000, 011 475712701,011 4757 1528,011 ..."
30603,32379,"RG Stone Urology and Laparoscopy Hospital, Raj...","B-1, Vishal Enclave, Opp. Police Station, Rajo...",New Delhi,110027,28.656215,77.119052,011 43298000
30604,32380,"RG Stone Urology and Laparoscopy Hospital, Gag...","18, Gagan Vihar Main, New Delhi, Delhi, 110092",New Delhi,110092,28.646127,77.296637,011 71011000
30605,32381,Indian Institute Of Yoga and Naturopathy,"Des Raj Campus, C-Block, East of Kailash, New ...",New Delhi,110065,28.558767,77.250899,"011 26913567, 011 26919793"

In [36]:
hd.to_csv('hospital_directory.csv', index=False)

In [2]:
import numpy as np
hd['total_beds'] = np.nan
hd['hospital_type'] = np.nan
hd.to_csv('hospital_directory.csv', index=False)

In [3]:
hd

,hospital_id,hospital_name,address,district,pincode,latitude,longitude,mco_contact_number,total_beds,hospital_type
0,1,Chakraborty Multi Speciality Hospital,"Near Dollygunj Junction, South Andaman, Andama...",South Andaman,744101,11.635799,92.712058,03192 251971,NaN,NaN
1,2,Inhs Dhanvantri,"Medical Board Office, South Andaman, Andaman a...",South Andaman,744101,11.831168,92.658640,0,NaN,NaN
2,3,Maricar Hospital,"Near Masjid, South Andaman, Andaman and Nicoba...",South Andaman,744103,11.831168,92.658640,03192 233434,NaN,NaN
3,4,Pillar Health Centre,"Lamba Line, P.B. No. 526, South Andaman, Andam...",South Andaman,744103,11.649847,92.729462,03192 233193,NaN,NaN
4,5,"G B Pant Hospital, Port Blair","GB Pant Road, City Centre, Port Blair, South A...",South Andaman,744103,11.623377,92.726483,"03192 233665, 03192 246058, 03192 233455, 0319...",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
30601,32377,"RG Stone Urology and Laparoscopy Hospital, Sou...","F-12, East of Kailash, New Delhi, Delhi, 110065",New Delhi,110065,28.554210,77.244262,011 40721000,NaN,NaN
30602,32378,"RG Stone Urology and Laparoscopy Hospital, Pit...","194-195, Deepali Chowk, Pitampura, North West ...",North West Delhi,110085,28.704347,77.115601,"011 47571000, 011 475712701,011 4757 1528,011 ...",NaN,NaN
30603,32379,"RG Stone Urology and Laparoscopy Hospital, Raj...","B-1, Vishal Enclave, Opp. Police Station, Rajo...",New Delhi,110027,28.656215,77.119052,011 43298000,NaN,NaN
30604,32380,"RG Stone Urology and Laparoscopy Hospital, Gag...","18, Gagan Vihar Main, New Delhi, Delhi, 110092",New Delhi,110092,28.646127,77.296637,011 71011000,NaN,NaN
30605,32381,Indian Institute Of Yoga and Naturopathy,"Des Raj Campus, C-Block, East of Kailash, New ...",New Delhi,110065,28.558767,77.250899,"011 26913567, 011 26919793",NaN,NaN

# Create a district id for each district

In [38]:
cen.rename(columns={'State': 'state_id', 'District': 'district_id', 'Name': 'district', 'TOT_P': 'total_persons', 'TOT_M': 'total_males', 'TOT_F': 'total_females', 'P_06': 'children_persons', 'M_06': 'children_males', 'F_06': 'children_females'}, inplace=True)
cen = cen[[
    'district_id', 'district', 'state_id', 'total_persons', 'total_males', 'total_females', 'children_persons', 'children_males', 'children_females'
]]
cen
#cen[cen['State name'] == 'MAHARASHTRA' ].sort_values(by='District name')

C:\Users\vaibh\AppData\Local\Temp\ipykernel_2924\1492985133.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cen.rename(columns={'State': 'state_id', 'District': 'district_id', 'Name': 'district', 'TOT_P': 'total_persons', 'TOT_M': 'total_males', 'TOT_F': 'total_females', 'P_06': 'children_persons', 'M_06': 'children_males', 'F_06': 'children_females'}, inplace=True)

,district_id,district,state_id,total_persons,total_males,total_females,children_persons,children_males,children_females
0,0,India,0,1210854977,623270258,587584719,164515253,85752254,78762999
1,0,India,0,833748852,427781058,405967794,121322865,63084449,58238416
2,0,India,0,377106125,195489200,181616925,43192388,22667805,20524583
3,0,JAMMU & KASHMIR,1,12541302,6640662,5900640,2018905,1084355,934550
4,0,JAMMU & KASHMIR,1,9108060,4774477,4333583,1593008,854141,738867
...,...,...,...,...,...,...,...,...,...
2023,639,North & Middle Andaman,35,102856,53457,49399,11579,5873,5706
2024,639,North & Middle Andaman,35,2741,1404,1337,249,118,131
2025,640,South Andaman,35,238142,127283,110859,24661,12523,12138
2026,640,South Andaman,35,97395,52103,45292,10447,5241,5206
2027,640,South Andaman,35,140747,75180,65567,14214,7282,6932

In [50]:
# remove the "rural" and "urban" parts of each district
indicestodrop = []
for index, row in cen.iterrows():
    if index % 3 == 0:
        continue
    indicestodrop.append(index)
cen.drop(indicestodrop, inplace = True)
cen.to_excel('2011-IndiaStateDist-0000.xlsx', index=False)

In [61]:
# Combine DADRA & NAGAR HAVELI and DAMAN & DIU
ret = []
ind = []
for index, row in cen.iterrows():
    if row['district'] in ['DADRA & NAGAR HAVELI', 'DAMAN & DIU']:
        ret.append(list(row))
        ind.append(index)
print(ret)
ret2 = np.array(ret[0][2:]) + np.array(ret[1][2:])
print(ret2)
cen.drop(ind, inplace=True)
ret2 = list(ret2)
ret2 = [0, 'DADRA & NAGAR HAVELI & DAMAN & DIU'] + ret2
print(ret2)
cen.loc[len(cen)] = ret2
cen.to_csv('2011-IndiaStateDist-0000.xlsx', index=False)

[[0, 'DAMAN & DIU', 10, 243247, 150301, 92946, 26934, 14144, 12790], [0, 'DADRA & NAGAR HAVELI', 10, 343709, 193760, 149949, 50895, 26431, 24464]]
[    20 586956 344061 242895  77829  40575  37254]
[0, 'DADRA & NAGAR HAVELI & DAMAN & DIU', 20, 586956, 344061, 242895, 77829, 40575, 37254]

### Provide state ids to each state/ut as per state.csv

In [ ]:
mapping = {'ANDAMAN & NICOBAR ISLANDS':1, 'ANDHRA PRADESH':2, 'ARUNACHAL PRADESH' : 3, 'ASSAM': 4, 'BIHAR': 5,'CHHATTISGARH': 6,'DADRA & NAGAR HAVELI & DAMAN & DIU': 7,'DELHI': 8,'GOA': 9,
           'GUJARAT': 10,'HARYANA': 11,'HIMACHAL PRADESH': 12,'JHARKHAND': 13,'KARNATAKA': 14,'KERALA': 15,'LAKSHADWEEP':16,'MADHYA PRADESH':17, 'MAHARASHTRA': 18,'MANIPUR': 19,
           'MEGHALAYA': 20,'MIZORAM': 21,'NAGALAND': 22,'ODISHA': 23,'PUDUCHERRY': 24,'PUNJAB': 25,'RAJASTHAN': 26,'SIKKIM': 27,'TAMIL NADU': 28,'TELANGANA': 29,'TRIPURA': 30,'CHANDIGARH': 31,
           'JAMMU & KASHMIR': 32,'LADAKH': 33,'UTTAR PRADESH': 34,'UTTARAKHAND': 35,'WEST BENGAL': 36}
const = 0
for index, row in cen.iterrows():
    if row['district'] in mapping:
        const = mapping[row['district']]
    cen.at[index, 'state_id'] = const

cen.to_excel('2011-IndiaStateDist-0000.xlsx', index=False)
cen

,district_id,district,state_id,total_persons,total_males,total_females,children_persons,children_males,children_females
0,0,India,0,1210854977,623270258,587584719,164515253,85752254,78762999
3,0,JAMMU & KASHMIR,32,12541302,6640662,5900640,2018905,1084355,934550
6,1,Kupwara,32,870354,474190,396164,188798,100459,88339
9,2,Badgam,32,753745,398041,355704,155202,84720,70482
12,3,Leh(Ladakh),32,133487,78971,54516,12016,6174,5842
...,...,...,...,...,...,...,...,...,...
2016,0,ANDAMAN & NICOBAR ISLANDS,1,380581,202871,177710,40878,20770,20108
2019,638,Nicobars,1,36842,20727,16115,4389,2256,2133
2022,639,North & Middle Andaman,1,105597,54861,50736,11828,5991,5837
2025,640,South Andaman,1,238142,127283,110859,24661,12523,12138
676,0,DADRA & NAGAR HAVELI & DAMAN & DIU,7,586956,344061,242895,77829,40575,37254

In [66]:
# remove the rows corresponding to states
indicestodrop = []
for index, row in cen.iterrows():
    if row['district'] in mapping:
        indicestodrop.append(index)
cen.drop(indicestodrop, inplace=True)
cen.to_excel('2011-IndiaStateDist-0000.xlsx', index=False)

In [ ]:
# reopening after a small manual change.
cen = pd.read_excel('2011-IndiaStateDist-0000.xlsx')
cen

,district_id,district,state_id,total_persons,total_males,total_females,children_persons,children_males,children_females
0,1,Kupwara,32,870354,474190,396164,188798,100459,88339
1,2,Badgam,32,753745,398041,355704,155202,84720,70482
2,3,Leh(Ladakh),32,133487,78971,54516,12016,6174,5842
3,4,Kargil,32,140802,77785,63017,19928,10078,9850
4,5,Punch,32,476835,251899,224936,84674,44733,39941
...,...,...,...,...,...,...,...,...,...
635,636,Mahe,24,41816,19143,22673,4553,2302,2251
636,637,Karaikal,24,200222,97809,102413,22263,11307,10956
637,638,Nicobars,1,36842,20727,16115,4389,2256,2133
638,639,North & Middle Andaman,1,105597,54861,50736,11828,5991,5837
639,640,South Andaman,1,238142,127283,110859,24661,12523,12138

### Add latitude and longitude for each district

In [ ]:
from geopy.geocoders import Nominatim

loc = Nominatim(user_agent="Geopy Library")

location_coords = []

cen['latitude'] = np.nan
cen['longitude'] = np.nan

In [104]:
import geopy.exc

for index, row in cen.iterrows():
    print(index)
    if pd.isna(row['latitude']) == False:
        print('yes')
        continue
    
    getLoc = loc.geocode(row['district'])

    if getLoc == None:
        continue
    cen.at[index, 'latitude'] = getLoc.latitude
    cen.at[index, 'longitude'] = getLoc.longitude
    location_coords.append([getLoc.latitude, getLoc.longitude])
    print(row['district'], ":" , getLoc.latitude, getLoc.longitude)

0
yes
1
yes
2
yes
3
yes
4
yes
5
yes
6
yes
7
yes
8
yes
9
yes
10
yes
11
yes
12
13
yes
14
yes
15
yes
16
yes
17
yes
18
yes
19
yes
20
yes
21
yes
22
yes
23
yes
24
25
yes
26
yes
27
yes
28
yes
29
yes
30
yes
31
yes
32
yes
33
yes
34
yes
35
yes
36
yes
37
yes
38
yes
39
yes
40
yes
41
yes
42
yes
43
yes
44
yes
45
yes
46
yes
47
yes
48
yes
49
yes
50
yes
51
yes
52
yes
53
yes
54
yes
55
yes
56
yes
57
yes
58
yes
59
yes
60
yes
61
yes
62
yes
63
yes
64
yes
65
yes
66
yes
67
yes
68
yes
69
yes
70
yes
71
yes
72
yes
73
yes
74
yes
75
yes
76
yes
77
yes
78
yes
79
yes
80
yes
81
yes
82
yes
83
yes
84
yes
85
yes
86
yes
87
yes
88
yes
89
yes
90
yes
91
yes
92
yes
93
yes
94
yes
95
yes
96
yes
97
yes
98
yes
99
yes
100
yes
101
yes
102
yes
103
yes
104
yes
105
yes
106
yes
107
yes
108
yes
109
yes
110
yes
111
yes
112
yes
113
yes
114
yes
115
yes
116
yes
117
yes
118
yes
119
yes
120
yes
121
yes
122
yes
123
yes
124
yes
125
yes
126
yes
127
yes
128
yes
129
yes
130
yes
131
yes
132
yes
133
yes
134
yes
135
yes
136
yes
137
yes
138
yes
139
yes
140
yes
141
yes
142
yes
143
yes
144
yes
145
yes
146
yes
147
yes
148
yes
149
yes
150
yes
151
yes
152
yes
153
yes
154
yes
155
yes
156
yes
157
yes
158
yes
159
yes
160
yes
161
yes
162
yes
163
yes
164
yes
165
yes
166
yes
167
yes
168
yes
169
yes
170
yes
171
yes
172
yes
173
yes
174
yes
175
yes
176
yes
177
Faizabad : 39.6003856 77.2571513
178
Ambedkar Nagar : 26.4045941 82.6065154
179
Sultanpur : 26.2604732 82.2380532
180
Bahraich : 27.7343823 81.47654
181
Shrawasti : 19.1550091 72.8403173
182
Balrampur : 27.4476988 82.3956245
183
Gonda : 27.1103723 81.9238906
184
Siddharthnagar : 27.2511723 82.8716528
185
Basti : 26.8387083 82.5350919
186
Sant Kabir Nagar : 26.755082 83.0398545
187
Mahrajganj : 27.1837262 83.4917301
188
Gorakhpur : 26.6677977 83.3642334
189
Kushinagar : 26.7438272 83.9162322
190
Deoria : 26.4239911 83.7638578
191
Azamgarh : 26.023639 83.0293105
192
Mau : 26.0390904 83.4985846
193
Ballia : 25.8749594 84.1210329
194
Jaunpur : 25.7967065 82.4888992
195
Ghazipur : 25.6034862 83.5075888
196
Chandauli : 25.125695 83.2494601
197
Varanasi : 25.3356491 83.0076292
198
Sant Ravidas Nagar (Bhadohi) : 25.424304 82.4883923
199
Mirzapur : 24.9316896 82.6280163
200
Sonbhadra : 24.4148159 83.0637517
201
Etah : 27.5550357 78.5992221
202
Kanshiram Nagar : 13.0895889 77.5389719
203
Pashchim Champaran : 27.0 84.5
204
Purba Champaran : 26.583333 84.833333
205
Sheohar : 26.4934234 85.2717561
206
Sitamarhi : 26.5942841 85.500428
207
Madhubani : 26.3503076 86.2296424
208
Supaul : 26.2768089 86.7959614
209
Araria : 26.1346459 87.4654062
210
Kishanganj : 26.2984144 87.9466715
211
Purnia : 25.7758723 87.4087667
212
Katihar : 25.5586421 87.6457196
213
Madhepura : 25.7806118 86.9364753
214
Saharsa : 25.8330757 86.6143751
215
Muzaffarpur : 26.1482548 85.3316097
216
Gopalganj : 26.4211166 84.3739133
217
Siwan : 26.131008 84.3910745
218
Saran : 47.9514553 1.8749906
219
Vaishali : 25.7491702 85.3972164
220
Samastipur : 25.7747884 85.8672314
221
Begusarai : 25.5125411 86.0883392
222
Khagaria : 25.4930513 86.6982264
223
Bhagalpur : 25.2861354 87.1304229
224
Banka : 24.8328273 86.8161114
225
Munger : 25.2202864 86.5161484
226
Lakhisarai : 25.1543938 86.1744959
227
Sheikhpura : 25.1250741 85.8160771
228
Nalanda : 25.1364914 85.4436546
229
Patna : 25.6093239 85.1235252
230
Bhojpur : 25.4501182 84.5635193
231
Buxar : 25.5044834 84.1097525
232
Kaimur (Bhabua) : 25.0763482 83.6335978
233
Rohtas : 24.9394142 84.0197031
234
Aurangabad : 19.877263 75.3390241
235
Gaya : 24.679389 85.0115833
236
Nawada : 24.8173249 85.5179085
237
Jamui : 24.7562513 86.3011128
238
Jehanabad  : 25.1529578 85.0065043
239
Arwal : 25.1812831 84.6596648
240
North  District : 22.5169493 114.2135927
241
West District : 24.14138 120.67104
242
South District : 30.6823334 34.8824229
243
East District : 24.1366249 120.7038538
244
Tawang : -7.3416597 108.2244736
245
West Kameng : 27.3386269 92.4333662
246
East Kameng : 27.557781 92.9673843
247
Papum Pare : 27.2863666 93.6187716
248
Upper Subansiri : 28.2596054 94.0938106
249
West Siang : 28.1970922 94.48407
250
East Siang : 28.0742219 95.4178149
251
Upper Siang : 28.7312046 95.0377315
252
Changlang : 27.2698797 96.0602442
253
Tirap : 27.030169 95.4979175
254
Lower Subansiri : 27.5326327 93.7823245
255
Kurung Kumey : 27.9863677 93.1578347
256
Dibang Valley : 28.8291044 95.9554096
257
Lower Dibang Valley : 28.2149563 95.878774
258
Lohit : 28.0350162 96.1713515
259
Anjaw : 28.1166895 96.8198805
260
Mon : 54.2359207 -4.5147669
261
Mokokchung : 26.4795861 94.5105275
262
Zunheboto : 26.0123802 94.5123719
263
Wokha : 26.2422509 94.1921153
264
Dimapur  : 25.9041378 93.7177609
265
Phek : 25.6514473 94.3809788
266
Tuensang : 26.2342107 94.741553
267
Longleng : 26.5839315 94.8045481
268
Kiphire : 25.8117088 94.8474036
269
Kohima : 25.6618755 94.1019156
270
Peren : 25.4502306 93.6001154
271
Senapati : 25.3933697 94.1501773
272
Tamenglong  : 24.9858596 93.5039967
273
Churachandpur : 24.3468839 93.6994143
274
Bishnupur : 23.0757335 87.3146343
275
Thoubal : 24.6252503 94.0083522
276
Imphal West : 24.7590802 93.8617365
277
Imphal East : 24.8328129 94.0166864
278
Ukhrul : 25.0982654 94.363167
279
Chandel : 22.1895156 76.455789
280
Mamit : 23.7564387 92.4515374
281
Kolasib : 24.1905469 92.7136595
282
Aizawl : 23.7277631 92.7179947
283
Champhai : 23.6317319 93.3493185
284
Serchhip : 23.3052514 92.8455123
285
Lunglei : 22.9519972 92.6338827
286
Lawngtlai : 22.3913377 92.7397189
287
Saiha : 22.2876724 93.01336
288
West Tripura  : 23.9153329 91.3879341
289
South Tripura  : 23.1708278 91.638817
290
Dhalai : 23.8253158 91.9732227
291
North Tripura : 24.0921476 92.2451214
292
West Garo Hills : 25.6063142 90.2113906
293
East Garo Hills : 25.6184946 90.6342162
294
South Garo Hills : 25.347969 90.5657773
295
West Khasi Hills : 25.5814429 91.0851094
296
Ribhoi : 25.723641 92.0426339
297
East Khasi Hills : 25.4023736 91.8317178
298
Jaintia Hills : 25.5 92.25
299
Kokrajhar : 26.4912103 90.1215209
300
Dhubri : 26.132275 90.1249962
301
Goalpara : 26.0491877 90.6001859
302
Barpeta : 26.345941 91.039708
303
Morigaon : 26.2551482 92.3290878
304
Nagaon : 26.3313646 92.7524763
305
Sonitpur : 26.7677707 92.7014089
306
Lakhimpur : 27.1763356 94.1992932
307
Dhemaji : 27.5945155 94.7192098
308
Tinsukia : 27.4879722 95.3601855
309
Dibrugarh : 27.4844597 94.9019447
310
Sivasagar : 26.9834936 94.6394226
311
Jorhat : 26.7577925 94.2079645
312
Golaghat : 26.5108262 93.9743686
313
Karbi Anglong : 26.0 93.5
314
Dima Hasao : 25.4003625 93.0752292
315
Cachar : 24.75864 92.8816648
316
Karimganj : 24.5828195 92.3725486
317
Hailakandi : 24.6846916 92.5645836
318
Bongaigaon : 26.4800126 90.5580387
319
Chirang : 26.6464231 90.624157
320
Kamrup : 26.146886 91.2227397
321
Kamrup Metropolitan : 26.1352638 91.8616706
322
Nalbari : 26.3533631 91.3983662
323
Baksa : 45.9595045 18.0950419
324
Darrang : 26.4373482 92.0047145
325
Udalguri : 26.7047238 92.0421507
326
Darjiling  : 26.75 88.25
327
Jalpaiguri  : 26.6262805 88.7334485
328
Koch Bihar  : 26.3223696 89.4592445
329
Uttar Dinajpur : 25.8721428 87.961986
330
Dakshin Dinajpur : 25.385807 88.5063362
331
Maldah  : 25.0977097 88.1261713
332
Murshidabad  : 24.1745993 88.2721335
333
Birbhum : 24.0621532 87.6982823
334
Barddhaman  : 23.25 87.75
335
Nadia  : 23.4847374 88.5567067
336
North Twenty Four Parganas : 22.5 88.666667
337
Hugli  : 22.7483803 88.7425195
338
Bankura  : 23.132377 87.2081925
339
Puruliya : 23.333333 86.416667
340
Haora  : 22.5736296 88.3251045
341
Kolkata : 22.5726459 88.3638953
342
343
Paschim Medinipur : 22.3600119 87.4111505
344
Purba Medinipur : 22.0648451 87.8377586
345
Garhwa  : 24.053577 83.6526818
346
Chatra : 24.1062316 84.8623379
347
Kodarma : 24.5423801 85.69301
348
Giridih : 24.3314546 86.1548117
349
Deoghar : 24.4898318 86.6990182
350
Godda : 24.8645886 87.2984838
351
Sahibganj : 25.0320437 87.691764
352
Pakur : 24.5325909 87.593232
353
Dhanbad : 23.7952809 86.4309638
354
Bokaro : 23.6991279 85.9910689
355
Lohardaga : 23.4770044 84.6986684
356
357
Palamu : 24.2212983 84.1725565
358
Latehar : 23.6880057 84.4969551
359
Hazaribagh : 24.0866962 85.4912231
360
Ramgarh : 23.693479 85.5215989
361
Dumka : 24.2677937 87.2485495
362
Jamtara : 23.9801639 86.9243637
363
Ranchi : 23.3700501 85.3250387
364
Khunti : 22.9281801 85.2814475
365
Gumla : 23.1603759 84.4599565
366
Simdega : 22.5904573 84.5464805
367
368
Saraikela-Kharsawan : 22.7464225 85.9168929
369
Bargarh : 21.2319922 83.5652737
370
Jharsuguda : 21.8019368 83.9713964
371
Sambalpur : 21.5570606 84.1528515
372
Debagarh : 21.4477962 84.7174204
373
Sundargarh : 22.0605153 83.9359154
374
Kendujhar : 21.5892323 85.6687841
375
Mayurbhanj : 21.9156338 86.3961824
376
Baleshwar : 21.5197916 86.8790638
377
Bhadrak : 20.9854052 86.5934226
378
Kendrapara  : 20.5475164 86.5296168
379
Jagatsinghapur  : 20.1801473 86.3414874
380
Cuttack : 20.4686 85.8792
381
Jajapur   : 20.8277892 86.3798353
382
Dhenkanal : 20.8351494 85.6022305
383
Anugul   : 20.8411255 85.0804007
384
Nayagarh   : 20.2393682 85.050728
385
Khordha  : 20.0538149 85.5023308
386
Puri : 19.8343066 85.6853295
387
Ganjam : 19.6090067 84.7080633
388
Gajapati : 19.1966026 84.1930634
389
Kandhamal : 20.1306939 84.0790476
390
Baudh : 20.8415619 84.3213321
391
Subarnapur : 20.8535783 83.8529159
392
Balangir : 20.6095183 83.1673029
393
Nuapada : 20.5412657 82.5292352
394
Kalahandi : 19.8265756 83.0408702
395
Rayagada   : 19.4426698 83.5873053
396
Nabarangapur  : 19.6096232 82.2987685
397
Koraput : 18.7232023 82.6100596
398
Malkangiri   : 18.2744685 81.9520316
399
Koriya : 23.476254 82.4776374
400
Surguja : 22.9469135 83.1656942
401
Jashpur  : 22.770251 83.9708013
402
Raigarh : 22.2361795 83.3529534
403
Korba  : 22.5198217 82.6350029
404
Janjgir - Champa : 21.986403 82.5536606
405
Bilaspur : 22.1638486 82.1365923
406
407
Rajnandgaon : 21.0684424 80.7970779
408
Durg : 21.1982964 81.4007922
409
Raipur : 21.2380912 81.6336993
410
Mahasamund : 21.1922846 82.4890263
411
Dhamtari  : 20.5326259 81.7155987
412
Uttar Bastar Kanker : 20.1286893 80.98453
413
Bastar : 19.1191282 81.8291865
414
Narayanpur : 19.5842032 81.1136986
415
416
Bijapur : 18.7935679 80.815939
417
Sheopur  : 25.7499266 76.9212945
418
Morena : 26.3849794 77.8612721
419
Bhind : 26.3518828 78.6863189
420
Gwalior : 26.2037247 78.1573628
421
Datia : 25.9182946 78.6644962
422
Shivpuri : 25.3741215 77.8278866
423
Tikamgarh : 24.8552105 79.0472546
424
Chhatarpur : 24.7606089 79.6781776
425
Panna : 24.4498931 80.1462723
426
Sagar : 23.8083076 78.758254
427
Damoh : 23.7981005 79.5419356
428
Satna : 24.6954445 80.7770348
429
Rewa : 24.7560846 81.3810574
430
Umaria : 23.6431837 80.9419078
431
Neemuch  : 24.6305517 75.1829
432
Mandsaur : 24.2628148 75.385692
433
Ratlam : 23.50222 74.9551534
434
Ujjain : 23.1885131 75.7716562
435
Shajapur : 23.4171001 76.6074794
436
Dewas : 22.8057498 76.2940408
437
Dhar : 22.5786572 75.2258637
438
Indore : 22.7203616 75.8681996
439
Khargone (West Nimar) : 21.833333 75.5
440
Barwani  : 21.7514248 74.8915957
441
Rajgarh : 23.8716706 76.7744703
442
Vidisha : 23.8463003 77.8370209
443
Bhopal : 23.2584857 77.401989
444
Sehore : 23.1150041 77.0665356
445
Raisen : 23.2675909 78.1727134
446
Betul : 21.8797472 77.8753651
447
Harda  : 22.2427973 77.1179173
448
Hoshangabad : 22.7545538 77.7198249
449
Katni  : 23.7176393 80.2610181
450
Jabalpur : 23.1701522 79.9324505
451
Narsimhapur : 22.916667 79.166667
452
Dindori  : 22.9070871 80.8846924
453
Mandla : 22.6871074 80.5816341
454
Chhindwara : 22.2071897 78.798833
455
Seoni : 22.2748109 79.7202522
456
Balaghat : 21.8611589 80.3237105
457
Guna : 24.5001772 77.2600959
458
Ashoknagar : 24.6186095 77.8786983
459
Shahdol : 23.3002343 81.364771
460
Anuppur : 23.0346179 81.7510255
461
Sidhi : 24.2112687 81.7000415
462
Singrauli : 24.2431343 82.3827672
463
Jhabua : 22.8869652 74.7243249
464
Alirajpur : 22.2859524 74.3545628
465
Khandwa (East Nimar) : 21.75 76.583333
466
Burhanpur : 21.3348669 76.3708803
467
Kachchh : 23.583333 70.0
468
Banas Kantha : 24.25 72.5
469
Patan   : 23.773753 71.6798581
470
Mahesana : 23.6015557 72.3867981
471
Sabar Kantha : 23.5 73.25
472
Gandhinagar : 23.2232877 72.6492267
473
Ahmadabad : 23.0215374 72.5800568
474
Surendranagar : 22.8251395 71.6209736
475
Rajkot : 22.3053263 70.8028377
476
Jamnagar : 22.4732415 70.0552102
477
Porbandar  : 21.6409 69.611
478
Junagadh : 21.5220416 70.4582458
479
Amreli : 21.4176122 71.249609
480
Bhavnagar : 21.7718836 72.1416449
481
Anand   : 22.5586555 72.9627227
482
Kheda : 22.8532503 72.9953586
483
Panch Mahals : 23.0 74.0
484
Dohad   : 24.5175816 77.2366335
485
Vadodara : 22.2973142 73.1942567
486
Narmada : 22.6694223 77.5687122
487
Bharuch : 21.7080427 72.9956936
488
The Dangs : 20.75 73.75
489
Navsari   : 20.952407 72.9323831
490
Valsad : 20.4321957 73.1409893
491
Surat : 21.2094892 72.8317058
492
Tapi : 21.1787195 75.44245
493
Diu : 20.7137783 70.9853635
494
Daman : 20.4169701 72.833173
495
Dadra & Nagar Haveli : 20.2037342 73.0062143
496
Nandurbar : 21.5141622 74.5405513
497
Dhule : 21.1305215 74.4900614
498
Jalgaon : 20.8428826 75.5261246
499
Buldana : 20.562845 76.4086986
500
Akola : 20.7618123 77.1921157
501
Washim : 20.2874178 77.2369655
502
Amravati : 21.1545412 77.6442962
503
Wardha : 20.8256231 78.6131455
504
Nagpur : 21.1498134 79.0820556
505
Bhandara : 21.1225869 79.794509
506
Gondiya : 21.1456285 80.2683867
507
Gadchiroli : 19.7590704 80.1622807
508
Chandrapur : 20.0967555 79.5045475
509
Yavatmal : 20.0638677 78.3565663
510
Nanded : 19.0940088 77.4831922
511
Hingoli : 19.5431163 77.1739432
512
Parbhani : 19.2901981 76.6026443
513
Jalna : 19.918833 75.8708599
514
Aurangabad : 19.877263 75.3390241
515
Nashik : 20.0112475 73.7902364
516
Thane : 19.1943294 72.9701779
517
Mumbai Suburban : 19.1306115 72.8861937
518
Mumbai : 19.054999 72.8692035
519
Raigarh : 22.2361795 83.3529534
520
Pune : 18.5213738 73.8545071
521
Ahmadnagar : 23.6816376 77.7069012
522
Bid : 38.8993969 -77.0305122
523
Latur : 18.3553347 76.7548997
524
Osmanabad : 18.2822454 76.0588166
525
Solapur : 17.8499067 75.2763203
526
Satara : 17.6361289 74.2982781
527
Ratnagiri : 17.2826079 73.4569787
528
Sindhudurg : 16.1357193 73.6522086
529
Kolhapur : 16.7028412 74.2405329
530
Sangli : 17.1726928 74.5867654
531
Adilabad : 19.6759452 78.5339895
532
Nizamabad : 18.6732693 78.0978477
533
Karimnagar : 18.4348122 79.1328042
534
Medak : 17.9375095 78.211745
535
Hyderabad : 17.360589 78.4740613
536
Rangareddy : 16.9344152 77.7788338
537
Mahbubnagar : 16.7434538 77.9923191
538
Nalgonda : 16.8579636 79.2174935
539
Warangal : 17.9820644 79.5970954
540
Khammam : 17.2465351 80.1500326
541
Srikakulam : 18.2949307 83.8938844
542
Vizianagaram : 18.1141255 83.4114389
543
Visakhapatnam : 17.6935526 83.2921297
544
East Godavari : 16.9956639 81.7154378
545
West Godavari : 16.6443029 81.5885247
546
Krishna : 16.2129438 81.0283082
547
Guntur : 16.2915189 80.4541588
548
Prakasam : 10.9930561 76.9596779
549
Sri Potti Sriramulu Nellore : 14.7174388 79.6605057
550
Y.S.R. : 18.0681034 -77.842617
551
Kurnool : 15.8309251 78.0425373
552
Anantapur : 14.72422 77.4306738
553
Chittoor : 13.2026484 79.0032253
554
Belgaum : 15.8572666 74.5069343
555
Bagalkot  : 16.1793224 75.6999315
556
Bijapur : 18.7935679 80.815939
557
Bidar : 18.0207297 77.2487204
558
Raichur : 16.0547194 76.9003647
559
Koppal : 15.5748238 76.3118494
560
Gadag : 15.416692 75.6815801
561
Dharwad : 15.3707296 75.1332867
562
Uttara Kannada : 14.7253795 74.6403389
563
Haveri : 14.7180267 75.3656423
564
Bellary : 15.1430224 76.9173277
565
Chitradurga : 14.3049174 76.5296667
566
Davanagere : 14.2558835 75.8303421
567
Shimoga : 14.0556502 75.2380553
568
Udupi : 13.5269784 74.8731879
569
Chikmagalur : 13.318014 75.7738743
570
Tumkur : 13.3400771 77.1006208
571
Bangalore : 12.9767936 77.590082
572
Mandya : 12.6368939 76.7275477
573
Hassan : 13.0301852 76.1744968
574
Dakshina Kannada : 12.8226433 75.2265036
575
Kodagu : 12.3827332 75.6640715
576
Mysore : 12.3051828 76.6553609
577
Chamarajanagar : 11.95442 77.1069086
578
Gulbarga : 17.3310003 76.8334228
579
Yadgir : 16.5744123 76.9254434
580
Kolar : 13.1805066 78.2669329
581
Chikkaballapura : 13.5897941 77.778793
582
Bangalore Rural : 13.0010872 77.3361225
583
Ramanagara : 12.720006 77.3184199
584
North Goa : 15.6044413 74.0017241
585
South Goa : 15.2197327 74.1147213
586
Lakshadweep : 10.3337313 72.9205386
587
Kasaragod : 12.4221964 75.1904446
588
Kannur : 11.8763836 75.3737973
589
Wayanad : 11.7151291 76.1271185
590
Kozhikode : 11.2450558 75.7754716
591
Malappuram : 11.1068448 76.1099551
592
Palakkad : 10.7873691 76.4742172
593
Thrissur : 10.5270099 76.214621
594
Ernakulam : 9.9837257 76.2740001
595
Idukki  : 9.8154785 76.9991599
596
Kottayam : 9.6287383 76.6455326
597
Alappuzha : 9.5006651 76.4124143
598
Pathanamthitta : 9.2780841 76.9737443
599
Kollam : 8.8870815 76.5907017
600
Thiruvananthapuram : 8.4882267 76.947551
601
Thiruvallur : 13.2537619 80.0562572
602
Chennai : 13.0836939 80.270186
603
Kancheepuram : 12.8796051 79.7042762
604
Vellore : 12.9021849 79.061104
605
Tiruvannamalai : 12.4289282 78.99915
606
Viluppuram : 12.1166966 79.5989236
607
Salem : 44.9391565 -123.033121
608
Namakkal    : 11.3033889 78.118604
609
Erode : 11.4905281 77.3505274
610
The Nilgiris : 11.4 76.7
611
Dindigul : 10.4256897 77.815664
612
Karur  : 10.8217671 78.3828654
613
Tiruchirappalli : 10.8071144 78.6880939
614
Perambalur   : 11.2902641 78.9300404
615
Ariyalur   : 11.1530559 79.2585797
616
Cuddalore : 11.520207 79.3396356
617
Nagapattinam   : 10.6026202 79.7619348
618
Thiruvarur : 10.6878621 79.4979437
619
Thanjavur : 10.659037 79.2014278
620
Pudukkottai : 10.2903072 78.8173617
621
Sivaganga : 9.8486881 78.4870461
622
Madurai : 9.9261153 78.1140983
623
Theni   : 9.8692558 77.4222974
624
Virudhunagar : 9.4926289 77.8631831
625
Ramanathapuram : 9.5205576 78.5184635
626
Thoothukkudi : 8.7567452 78.0797527
627
Tirunelveli  : 8.7284271 77.7112925
628
Kanniyakumari : 8.3279814 77.3541173
629
Dharmapuri : 12.145613 78.1132217
630
Krishnagiri : 12.5152075 78.0093769
631
Coimbatore : 11.0018115 76.9628425
632
Tiruppur : 10.7915267 77.5325466
633
Yanam : 16.7332235 82.2018118
634
Puducherry : 10.9156489 79.8069488
635
Mahe : 11.7021978 75.5364701
636
Karaikal : 10.91571 79.8375761
637
638
North  & Middle Andaman : 13.2277143 92.9394925
639
South Andaman : 10.7056905 92.4874679

In [106]:
cen.to_excel('2011-IndiaStateDist-0000.xlsx', index=False)

In [110]:
loc.geocode('Nicobar')

Location(Nicobar, Andaman and Nicobar Islands, India, (7.0000167, 93.8110528, 0.0))

In [113]:
cen = pd.read_excel('2011-IndiaStateDist-0000.xlsx')
cen

,district_id,district,state_id,latitude,longitude,total_persons,total_males,total_females,children_persons,children_males,children_females
0,1,Kupwara,32,34.514070,74.191367,870354,474190,396164,188798,100459,88339
1,2,Badgam,32,34.038525,74.736016,753745,398041,355704,155202,84720,70482
2,3,Leh(Ladakh),32,34.171853,77.586678,133487,78971,54516,12016,6174,5842
3,4,Kargil,32,33.802819,76.473010,140802,77785,63017,19928,10078,9850
4,5,Punch,32,33.767000,74.095714,476835,251899,224936,84674,44733,39941
...,...,...,...,...,...,...,...,...,...,...,...
635,636,Mahe,24,11.702198,75.536470,41816,19143,22673,4553,2302,2251
636,637,Karaikal,24,10.915710,79.837576,200222,97809,102413,22263,11307,10956
637,638,Nicobars,1,7.000000,93.811000,36842,20727,16115,4389,2256,2133
638,639,North & Middle Andaman,1,13.227714,92.939493,105597,54861,50736,11828,5991,5837
639,640,South Andaman,1,10.705690,92.487468,238142,127283,110859,24661,12523,12138

In [122]:
x = list(dis['district'])
cen['district'] = cen['district'].str.upper()

indicestodrop = []
for index, row in cen.iterrows():
    if row['district'] in x:
        indicestodrop.append(index)

cen.drop(indicestodrop, inplace=True)

cen = pd.concat([dis, cen], axis=0)

In [132]:
cen.to_excel('2011-IndiaStateDist-0000.xlsx', index=False)
cen = pd.read_excel('2011-IndiaStateDist-0000.xlsx')

In [133]:
i = 1
for j in range(len(cen)):
    cen.at[j, 'district_id'] = int(i)
    i += 1
cen.to_excel('2011-IndiaStateDist-0000.xlsx', index=False)

Renamed the file created as district.xlsx

In [137]:
dis = pd.read_excel('district.xlsx')
dis

,district_id,district,state_id,latitude,longitude,total_persons,total_males,total_females,children_persons,children_males,children_females
0,1,AHILYANAGAR,18,19.265435,74.637576,4543159,2342825,2200334,556014,300238,255776
1,2,AKOLA,18,20.765138,77.054701,1813906,932334,881572,211080,110372,100708
2,3,AMRAVATI,18,21.128580,77.648207,2888445,1480768,1407677,311391,160934,150457
3,4,CHHATRAPATI SAMBHAJINAGAR,18,19.944847,75.419260,3701282,1924469,1776813,532659,286721,245938
4,5,BHANDARA,18,21.179723,79.252516,1200334,605520,594814,126025,64626,61399
...,...,...,...,...,...,...,...,...,...,...,...
642,643,MAHE,24,11.702198,75.536470,41816,19143,22673,4553,2302,2251
643,644,KARAIKAL,24,10.915710,79.837576,200222,97809,102413,22263,11307,10956
644,645,NICOBARS,1,7.000000,93.811000,36842,20727,16115,4389,2256,2133
645,646,NORTH & MIDDLE ANDAMAN,1,13.227714,92.939493,105597,54861,50736,11828,5991,5837
646,647,SOUTH ANDAMAN,1,10.705690,92.487468,238142,127283,110859,24661,12523,12138

### Convert district names to district ids

In [150]:
hd = pd.read_csv('hospital_directory.csv')
hd['district'] = hd['district'].str.upper()
dis2 = dict(zip(dis['district'], dis['district_id']))
dis2
for index, row in hd.iterrows():
    try:
        hd.at[index, 'district'] = dis2[row['district']]
    except KeyError:
        continue
hd

,hospital_id,hospital_name,address,district,pincode,latitude,longitude,mco_contact_number,total_beds,hospital_type
0,1,Chakraborty Multi Speciality Hospital,"Near Dollygunj Junction, South Andaman, Andama...",647,744101,11.635799,92.712058,03192 251971,NaN,NaN
1,2,Inhs Dhanvantri,"Medical Board Office, South Andaman, Andaman a...",647,744101,11.831168,92.658640,0,NaN,NaN
2,3,Maricar Hospital,"Near Masjid, South Andaman, Andaman and Nicoba...",647,744103,11.831168,92.658640,03192 233434,NaN,NaN
3,4,Pillar Health Centre,"Lamba Line, P.B. No. 526, South Andaman, Andam...",647,744103,11.649847,92.729462,03192 233193,NaN,NaN
4,5,"G B Pant Hospital, Port Blair","GB Pant Road, City Centre, Port Blair, South A...",647,744103,11.623377,92.726483,"03192 233665, 03192 246058, 03192 233455, 0319...",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
30601,32377,"RG Stone Urology and Laparoscopy Hospital, Sou...","F-12, East of Kailash, New Delhi, Delhi, 110065",131,110065,28.554210,77.244262,011 40721000,NaN,NaN
30602,32378,"RG Stone Urology and Laparoscopy Hospital, Pit...","194-195, Deepali Chowk, Pitampura, North West ...",NORTH WEST DELHI,110085,28.704347,77.115601,"011 47571000, 011 475712701,011 4757 1528,011 ...",NaN,NaN
30603,32379,"RG Stone Urology and Laparoscopy Hospital, Raj...","B-1, Vishal Enclave, Opp. Police Station, Rajo...",131,110027,28.656215,77.119052,011 43298000,NaN,NaN
30604,32380,"RG Stone Urology and Laparoscopy Hospital, Gag...","18, Gagan Vihar Main, New Delhi, Delhi, 110092",131,110092,28.646127,77.296637,011 71011000,NaN,NaN
30605,32381,Indian Institute Of Yoga and Naturopathy,"Des Raj Campus, C-Block, East of Kailash, New ...",131,110065,28.558767,77.250899,"011 26913567, 011 26919793",NaN,NaN

In [ ]:
hd.rename(columns={'district' : 'district_id'}, inplace=True)
hd.to_csv('hospital_directory.csv', index=False)